/*====== Reset ======*/
* {
    box-sizing: border-box;
    font-family: "Montserrat", serif;
    margin: 0;
    padding: 0;
}

/*====== Template ======*/
#nav {
    display: flex;
    height: 10dvh;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1f1f1f;
}

#nav a {
    text-decoration: none;
    color: #fff;
    position: relative;
    padding-bottom: 3px;
}

#nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #F2785C;
    transition: width 0.3s ease-in-out;
}

#nav a:hover::after {
    width: 100%;
}


/*====== Welcome ======*/
.welcome {
    position: relative;
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-size: 2rem;
    font-family: Arial, sans-serif;
    overflow: hidden;
    background-color: #1f1f1f;
}

.welcome video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    animation: blurFade 4.5s ease-in-out;
    opacity: 0.6;
}

@keyframes blurFade {
    from {
        filter: blur(10px);
        opacity: 0;
    }
    to {
        filter: blur(0);
        opacity: 0.6;
    }
}

#welcome-text {
    display: flex;
    width: 90%;
    gap: 1rem;
    flex-direction: column;
}

#welcome-text h1 {
    position: relative;
    z-index: 1;
    font-size: 3rem;
    text-transform: uppercase;
    animation: fadeSlideTop 2s ease-in-out;
}

#welcome-text strong {
    color: #F2785C;
}

#welcome-text p {
    position: relative;
    z-index: 1;
    font-size: 16px;
    animation: fadeSlideDown 2s ease-in-out;
}

@keyframes fadeSlideTop {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeSlideDown {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 768px) {
    #welcome-text h1 {
        font-size: 2rem;
    }

    #welcome-text p {
        font-size: 14px;
    }
}