{% extends "template.html" %}
{% block title %}Reservation{% endblock %}
{% block content %}
<section class="reservations">

    <div class="reservations-title">
        <h1>See all reservations</h1>
    </div>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Number of Guests</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>
            {% for reserva in reservas %}
            <tr>
                <td>{{ reserva.restaurant_name }}</td>
                <td>{{ reserva.date_time.strftime('%d/%m/%Y %H:%M') }}</td>
                <td>{{ reserva.num_people }}</td>
                <td>
                    <a href="{{ url_for('edit_reservation', id=reserva.id) }}">Edit</a> 
                </td>
                <td>
                    <a href="{{ url_for('delete_reservation', id=reserva.id) }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="create-reservation">
        <a href="{{ url_for('create_reservation') }}">
            <button>Create a New Reservation</button>
        </a>
    </div>
</section>
{% endblock %}