{% extends "template.html" %}
{% block title %}Signup{% endblock %}
    {% block content %}
    <div>
        <h1>Signup Page</h1>
        <form method="POST" action="/signup">
            <!-- Username -->
            <label>Username:</label>
            <input type="text" name="name" required>
            <!-- Email -->
            <label>Email:</label>
            <input type="email" name="email" required>
            <!-- Password -->
            <label>Password:</label>
            <input type="password" name="password" required>
            <!-- Submit -->
            <button type="submit">Signup</button>
        </form>
    </div>
    {% endblock %}
